central-sentinel-sync.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "description": "Central Sentinel Logic App - Pulls incidents FROM multiple remote Sentinel instances"
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "central-sentinel-sync"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "remoteSentinelInstances": {
      "type": "array",
      "metadata": {
        "description": "Array of remote Sentinel instances to monitor"
      },
      "defaultValue": [
        {
          "name": "Remote-Tenant-1",
          "subscriptionId": "REMOTE-SUBSCRIPTION-ID-1",
          "resourceGroup": "REMOTE-RESOURCE-GROUP-1",
          "workspace": "REMOTE-WORKSPACE-1"
        },
        {
          "name": "Remote-Tenant-2", 
          "subscriptionId": "REMOTE-SUBSCRIPTION-ID-2",
          "resourceGroup": "REMOTE-RESOURCE-GROUP-2",
          "workspace": "REMOTE-WORKSPACE-2"
        }
      ]
    },
    "pollingIntervalMinutes": {
      "type": "int",
      "defaultValue": 5,
      "metadata": {
        "description": "How often to check for new incidents (in minutes)"
      }
    }
  },
  "variables": {
    "connections_azuresentinel_name": "azuresentinel"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('connections_azuresentinel_name')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Azure Sentinel",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('connections_azuresentinel_name'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "remoteSentinelInstances": {
              "defaultValue": [],
              "type": "Array"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Minute",
                "interval": "[parameters('pollingIntervalMinutes')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "For_each_remote_instance": {
              "foreach": "@@parameters('remoteSentinelInstances')",
              "actions": {
                "Get_recent_incidents_from_remote": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/Incidents",
                    "queries": {
                      "subscriptionId": "@@items('For_each_remote_instance')['subscriptionId']",
                      "resourceGroupName": "@@items('For_each_remote_instance')['resourceGroup']",
                      "workspaceName": "@@items('For_each_remote_instance')['workspace']",
                      "$filter": "properties/createdTimeUtc ge @@{addMinutes(utcNow(), -10)}",
                      "$orderby": "properties/createdTimeUtc desc",
                      "$top": "50"
                    }
                  }
                },
                "For_each_incident": {
                  "foreach": "@@body('Get_recent_incidents_from_remote')?['value']",
                  "actions": {
                    "Check_if_already_imported": {
                      "actions": {
                        "Create_incident_in_central": {
                          "runAfter": {},
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "properties": {
                                "title": "[[@@{items('For_each_remote_instance')['name']}]] @@{items('For_each_incident')?['properties']?['title']}",
                                "description": "@@{items('For_each_incident')?['properties']?['description']}\n\n=== IMPORTED FROM REMOTE ===\nRemote Instance: @@{items('For_each_remote_instance')['name']}\nRemote Workspace: @@{items('For_each_remote_instance')['workspace']}\nRemote Subscription: @@{items('For_each_remote_instance')['subscriptionId']}\nRemote Tenant: @@{items('For_each_remote_instance')['tenantId']}\nOriginal Incident ID: @@{items('For_each_incident')?['name']}\nOriginal Number: #@@{items('For_each_incident')?['properties']?['incidentNumber']}\nOriginal Created: @@{items('For_each_incident')?['properties']?['createdTimeUtc']}\nImported: @@{utcNow()}\n\n🔗 VIEW FULL INCIDENT (with entities, alerts, and all details):\n📊 Defender Portal: https://security.microsoft.com/incidents/@@{items('For_each_incident')?['name']}?tid=@@{items('For_each_remote_instance')['tenantId']}\n🔵 Azure Portal: https://portal.azure.com/#view/Microsoft_Azure_Security_Insights/IncidentFullDetailsBlade/subscriptionId/@@{items('For_each_remote_instance')['subscriptionId']}/resourceGroup/@@{items('For_each_remote_instance')['resourceGroup']}/workspace/@@{items('For_each_remote_instance')['workspace']}/incidentId/@@{items('For_each_incident')?['name']}",
                                "severity": "@@items('For_each_incident')?['properties']?['severity']",
                                "status": "@@items('For_each_incident')?['properties']?['status']",
                                "labels": [
                                  {
                                    "labelName": "IMPORTED_INCIDENT",
                                    "labelType": "User"
                                  },
                                  {
                                    "labelName": "FROM_@@{items('For_each_remote_instance')['name']}",
                                    "labelType": "User"
                                  },
                                  {
                                    "labelName": "REMOTE_ID_@@{items('For_each_incident')?['name']}",
                                    "labelType": "User"
                                  }
                                ],
                                "tactics": "@@items('For_each_incident')?['properties']?['tactics']",
                                "techniques": "@@items('For_each_incident')?['properties']?['techniques']",
                                "classification": "@@items('For_each_incident')?['properties']?['classification']"
                              }
                            },
                            "host": {
                              "connection": {
                                "name": "@@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "put",
                            "path": "/Incidents"
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "contains": [
                                "@@items('For_each_incident')?['properties']?['title']",
                                "[[@@{items('For_each_remote_instance')['name']}]]"
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Get_recent_incidents_from_remote": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {},
              "type": "Foreach"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connections_azuresentinel_name'))]",
                "connectionName": "[variables('connections_azuresentinel_name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              }
            }
          },
          "remoteSentinelInstances": {
            "value": "[parameters('remoteSentinelInstances')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "pollingInterval": {
      "type": "string",
      "value": "[concat(parameters('pollingIntervalMinutes'), ' minutes')]"
    }
  }
}


