deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "description": "Multi-Tenant Sentinel Incident Sync - FIXED AND WORKING"
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "sentinel-incident-sync"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "targetSubscriptions": {
      "type": "array",
      "defaultValue": [
        {
          "subscriptionId": "TARGET-SUBSCRIPTION-ID",
          "resourceGroup": "TARGET-RESOURCE-GROUP",
          "workspace": "TARGET-WORKSPACE-NAME"
        }
      ]
    }
  },
  "variables": {
    "connections_azuresentinel_name": "azuresentinel"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('connections_azuresentinel_name')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Azure Sentinel",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('connections_azuresentinel_name'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "targetSubscriptions": {
              "defaultValue": [],
              "type": "Array"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_incident": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['name'])}"
              }
            },
            "For_each_target": {
              "foreach": "@parameters('targetSubscriptions')",
              "actions": {
                "Create_incident_in_target": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "properties": {
                        "title": "[SYNCED] @{body('Get_incident')?['properties']?['title']}",
                        "description": "@{body('Get_incident')?['properties']?['description']}\n\n=== SYNC INFO ===\nSource: @{triggerBody()?['workspaceInfo']?['WorkspaceName']}\nOriginal Incident: #@{body('Get_incident')?['properties']?['incidentNumber']}\nSynced: @{utcNow()}",
                        "severity": "@body('Get_incident')?['properties']?['severity']",
                        "status": "@body('Get_incident')?['properties']?['status']",
                        "labels": [
                          {
                            "labelName": "SYNCED_INCIDENT",
                            "labelType": "User"
                          },
                          {
                            "labelName": "SOURCE_@{triggerBody()?['workspaceInfo']?['WorkspaceName']}",
                            "labelType": "User"
                          }
                        ]
                      }
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "put",
                    "path": "/Incidents",
                    "queries": {
                      "subscriptionId": "@items('For_each_target')['subscriptionId']",
                      "resourceGroupName": "@items('For_each_target')['resourceGroup']",
                      "workspaceName": "@items('For_each_target')['workspace']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_incident": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connections_azuresentinel_name'))]",
                "connectionName": "[variables('connections_azuresentinel_name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              }
            }
          },
          "targetSubscriptions": {
            "value": "[parameters('targetSubscriptions')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "resourceGroup": {
      "type": "string", 
      "value": "[resourceGroup().name]"
    }
  }
}