remote-to-central.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "description": "Remote Sentinel Logic App - Sends incidents TO central Sentinel instance"
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "remote-to-central-sync"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "centralSentinel": {
      "type": "object",
      "metadata": {
        "description": "Central Sentinel instance details"
      },
      "defaultValue": {
        "subscriptionId": "CENTRAL-SUBSCRIPTION-ID",
        "resourceGroup": "CENTRAL-RESOURCE-GROUP",
        "workspace": "CENTRAL-WORKSPACE-NAME"
      }
    },
    "remoteInstanceName": {
      "type": "string",
      "defaultValue": "Remote-Tenant",
      "metadata": {
        "description": "Name to identify this remote instance in central Sentinel"
      }
    }
  },
  "variables": {
    "connections_azuresentinel_name": "azuresentinel"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('connections_azuresentinel_name')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Azure Sentinel",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('connections_azuresentinel_name'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "centralSentinel": {
              "defaultValue": {},
              "type": "Object"
            },
            "remoteInstanceName": {
              "defaultValue": "Remote",
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_local_incident": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['name'])}"
              }
            },
            "Send_to_central_Sentinel": {
              "runAfter": {
                "Get_local_incident": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "properties": {
                    "title": "[@{parameters('remoteInstanceName')}] @{body('Get_local_incident')?['properties']?['title']}",
                    "description": "@{body('Get_local_incident')?['properties']?['description']}\n\n=== REMOTE SOURCE INFO ===\nRemote Instance: @{parameters('remoteInstanceName')}\nSource Workspace: @{triggerBody()?['workspaceInfo']?['WorkspaceName']}\nSource Tenant: @{triggerBody()?['workspaceInfo']?['TenantId']}\nOriginal Incident: #@{body('Get_local_incident')?['properties']?['incidentNumber']}\nForwarded: @{utcNow()}\nOriginal Created: @{body('Get_local_incident')?['properties']?['createdTimeUtc']}",
                    "severity": "@body('Get_local_incident')?['properties']?['severity']",
                    "status": "@body('Get_local_incident')?['properties']?['status']",
                    "labels": [
                      {
                        "labelName": "REMOTE_INCIDENT",
                        "labelType": "User"
                      },
                      {
                        "labelName": "FROM_@{parameters('remoteInstanceName')}",
                        "labelType": "User"
                      },
                      {
                        "labelName": "ORIGINAL_ID_@{body('Get_local_incident')?['properties']?['incidentNumber']}",
                        "labelType": "User"
                      }
                    ],
                    "tactics": "@body('Get_local_incident')?['properties']?['tactics']",
                    "techniques": "@body('Get_local_incident')?['properties']?['techniques']"
                  }
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/Incidents",
                "queries": {
                  "subscriptionId": "@parameters('centralSentinel')['subscriptionId']",
                  "resourceGroupName": "@parameters('centralSentinel')['resourceGroup']",
                  "workspaceName": "@parameters('centralSentinel')['workspace']"
                }
              }
            },
            "Log_forward_success": {
              "runAfter": {
                "Send_to_central_Sentinel": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": {
                "message": "Successfully forwarded incident to central Sentinel",
                "remoteInstance": "@parameters('remoteInstanceName')",
                "originalIncident": "@body('Get_local_incident')?['properties']?['incidentNumber']",
                "centralIncident": "@body('Send_to_central_Sentinel')?['name']",
                "timestamp": "@utcNow()"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connections_azuresentinel_name'))]",
                "connectionName": "[variables('connections_azuresentinel_name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              }
            }
          },
          "centralSentinel": {
            "value": "[parameters('centralSentinel')]"
          },
          "remoteInstanceName": {
            "value": "[parameters('remoteInstanceName')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "remoteInstance": {
      "type": "string",
      "value": "[parameters('remoteInstanceName')]"
    }
  }
}