workflow-ENHANCED-ENTITIES.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "remoteWorkspaces": {
        "type": "Array"
      },
      "centralSubscriptionId": {
        "type": "String"
      },
      "centralResourceGroup": {
        "type": "String"
      },
      "centralWorkspace": {
        "type": "String"
      }
    },
    "triggers": {
      "Recurrence": {
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        },
        "type": "Recurrence"
      }
    },
    "actions": {
      "For_each_remote_workspace": {
        "foreach": "@parameters('remoteWorkspaces')",
        "actions": {
          "Get_incidents_from_remote": {
            "runAfter": {},
            "type": "Http",
            "inputs": {
              "method": "GET",
              "uri": "https://management.azure.com/subscriptions/@{items('For_each_remote_workspace')['subscriptionId']}/resourceGroups/@{items('For_each_remote_workspace')['resourceGroup']}/providers/Microsoft.OperationalInsights/workspaces/@{items('For_each_remote_workspace')['workspace']}/providers/Microsoft.SecurityInsights/incidents?api-version=2023-02-01&$top=10&$orderby=properties/createdTimeUtc desc",
              "authentication": {
                "type": "ManagedServiceIdentity",
                "audience": "https://management.azure.com"
              }
            }
          },
          "Parse_incidents_response": {
            "runAfter": {
              "Get_incidents_from_remote": [
                "Succeeded"
              ]
            },
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Get_incidents_from_remote')",
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "properties": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "incidentNumber": {
                              "type": "integer"
                            },
                            "incidentUrl": {
                              "type": "string"
                            },
                            "createdTimeUtc": {
                              "type": "string"
                            },
                            "lastActivityTimeUtc": {
                              "type": "string"
                            },
                            "firstActivityTimeUtc": {
                              "type": "string"
                            },
                            "additionalData": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "For_each_incident": {
            "foreach": "@body('Parse_incidents_response')?['value']",
            "actions": {
              "Get_incident_entities": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                  "method": "GET",
                  "uri": "https://management.azure.com/subscriptions/@{items('For_each_remote_workspace')['subscriptionId']}/resourceGroups/@{items('For_each_remote_workspace')['resourceGroup']}/providers/Microsoft.OperationalInsights/workspaces/@{items('For_each_remote_workspace')['workspace']}/providers/Microsoft.SecurityInsights/incidents/@{items('For_each_incident')?['name']}/entities?api-version=2023-02-01",
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "audience": "https://management.azure.com"
                  }
                }
              },
              "Parse_entities_response": {
                "runAfter": {
                  "Get_incident_entities": [
                    "Succeeded"
                  ]
                },
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('Get_incident_entities')",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "entities": {
                        "type": "array"
                      }
                    }
                  }
                }
              },
              "Build_entity_summary": {
                "runAfter": {
                  "Parse_entities_response": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": {
                  "accounts": "@length(where(body('Parse_entities_response')?['entities'], item => equals(item?['kind'], 'Account')))",
                  "hosts": "@length(where(body('Parse_entities_response')?['entities'], item => equals(item?['kind'], 'Host')))",
                  "ips": "@length(where(body('Parse_entities_response')?['entities'], item => equals(item?['kind'], 'Ip')))",
                  "files": "@length(where(body('Parse_entities_response')?['entities'], item => equals(item?['kind'], 'File')))",
                  "urls": "@length(where(body('Parse_entities_response')?['entities'], item => equals(item?['kind'], 'Url')))",
                  "processes": "@length(where(body('Parse_entities_response')?['entities'], item => equals(item?['kind'], 'Process')))",
                  "totalEntities": "@length(body('Parse_entities_response')?['entities'])"
                }
              },
              "Get_top_entities": {
                "runAfter": {
                  "Build_entity_summary": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@take(body('Parse_entities_response')?['entities'], 10)"
              },
              "Create_incident_in_central": {
                "runAfter": {
                  "Get_top_entities": [
                    "Succeeded"
                  ]
                },
                "type": "Http",
                "inputs": {
                  "method": "PUT",
                  "uri": "https://management.azure.com/subscriptions/@{parameters('centralSubscriptionId')}/resourceGroups/@{parameters('centralResourceGroup')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('centralWorkspace')}/providers/Microsoft.SecurityInsights/incidents/@{guid()}?api-version=2023-02-01",
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "audience": "https://management.azure.com"
                  },
                  "body": {
                    "properties": {
                      "title": "[SYNCED] @{items('For_each_incident')?['properties']?['title']} - @{items('For_each_remote_workspace')['name']}",
                      "description": "# 🔗 Source Information\n**Source Workspace:** @{items('For_each_remote_workspace')['name']}\n**Original Incident #:** @{items('For_each_incident')?['properties']?['incidentNumber']}\n**Original Incident ID:** @{items('For_each_incident')?['name']}\n**Source Portal Link:** @{items('For_each_incident')?['properties']?['incidentUrl']}\n**Provider:** @{coalesce(items('For_each_incident')?['properties']?['providerName'], 'Azure Sentinel')}\n\n# 📊 Incident Timeline\n**Created:** @{items('For_each_incident')?['properties']?['createdTimeUtc']}\n**First Activity:** @{coalesce(items('For_each_incident')?['properties']?['firstActivityTimeUtc'], 'N/A')}\n**Last Activity:** @{coalesce(items('For_each_incident')?['properties']?['lastActivityTimeUtc'], 'N/A')}\n\n# 👥 Entities (@{outputs('Build_entity_summary')?['totalEntities']} total)\n**Accounts:** @{outputs('Build_entity_summary')?['accounts']} | **Hosts:** @{outputs('Build_entity_summary')?['hosts']} | **IPs:** @{outputs('Build_entity_summary')?['ips']}\n**Files:** @{outputs('Build_entity_summary')?['files']} | **URLs:** @{outputs('Build_entity_summary')?['urls']} | **Processes:** @{outputs('Build_entity_summary')?['processes']}\n\n## Top Entities (First 10):\n@{join(createArray(if(greater(length(outputs('Get_top_entities')), 0), join(take(select(outputs('Get_top_entities'), concat('- **', coalesce(item?['kind'], 'Unknown'), '**: ', coalesce(item?['properties']?['friendlyName'], item?['properties']?['accountName'], item?['properties']?['hostName'], item?['properties']?['address'], item?['name'], 'N/A')))), 10), '\n'), 'No entities found')), '\n')}\n\n# 🎯 MITRE ATT&CK Tactics\n@{if(empty(items('For_each_incident')?['properties']?['additionalData']?['tactics']), 'No tactics identified', join(items('For_each_incident')?['properties']?['additionalData']?['tactics'], ', '))}\n\n# 🚨 Alert Details\n**Alert Count:** @{coalesce(string(items('For_each_incident')?['properties']?['additionalData']?['alertsCount']), '0')}\n**Alert Products:** @{if(empty(items('For_each_incident')?['properties']?['additionalData']?['alertProductNames']), 'N/A', join(items('For_each_incident')?['properties']?['additionalData']?['alertProductNames'], ', '))}\n\n---\n\n# 📝 Original Description\n@{coalesce(items('For_each_incident')?['properties']?['description'], 'No description available')}",
                      "severity": "@{items('For_each_incident')?['properties']?['severity']}",
                      "status": "New",
                      "firstActivityTimeUtc": "@{items('For_each_incident')?['properties']?['firstActivityTimeUtc']}",
                      "lastActivityTimeUtc": "@{items('For_each_incident')?['properties']?['lastActivityTimeUtc']}"
                    }
                  }
                }
              }
            },
            "runAfter": {
              "Parse_incidents_response": [
                "Succeeded"
              ]
            },
            "type": "Foreach"
          }
        },
        "runAfter": {},
        "type": "Foreach"
      }
    },
    "outputs": {}
  },
  "parameters": {
    "remoteWorkspaces": {
      "value": [
        {
          "name": "AutoLAW",
          "subscriptionId": "7d727b43-c480-4637-9b2d-f53db5982220",
          "resourceGroup": "autorg1",
          "workspace": "AutoLAW"
        },
        {
          "name": "CustomerA",
          "subscriptionId": "7d727b43-c480-4637-9b2d-f53db5982220",
          "resourceGroup": "rg-uks-sentinel",
          "workspace": "CustomerA"
        }
      ]
    },
    "centralSubscriptionId": {
      "value": "7d727b43-c480-4637-9b2d-f53db5982220"
    },
    "centralResourceGroup": {
      "value": "rg-uks-sentinel"
    },
    "centralWorkspace": {
      "value": "logs-uks-sentinel"
    }
  }
}
