deployment/arm-templates/logic-app.json.backup
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "mainTenantId": {
      "type": "string",
      "metadata": {
        "description": "Main tenant ID where Sentinel instance resides"
      }
    },
    "mainSubscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Main subscription ID"
      }
    },
    "mainResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "Resource group containing main Sentinel instance"
      }
    },
    "mainWorkspaceName": {
      "type": "string",
      "metadata": {
        "description": "Log Analytics workspace name for main Sentinel"
      }
    },
    "recurrenceFrequency": {
      "type": "string",
      "defaultValue": "Minute",
      "allowedValues": [
        "Minute",
        "Hour",
        "Day"
      ],
      "metadata": {
        "description": "Frequency of the recurrence trigger"
      }
    },
    "recurrenceInterval": {
      "type": "int",
      "defaultValue": 5,
      "metadata": {
        "description": "Interval for the recurrence trigger"
      }
    },
    "enableManagedIdentity": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Enable system-assigned managed identity"
      }
    },
    "tags": {
      "type": "object",
      "defaultValue": {
        "Environment": "Production",
        "Solution": "Sentinel-Multi-Tenant-Sync",
        "ManagedBy": "ARM Template"
      },
      "metadata": {
        "description": "Tags to apply to resources"
      }
    }
  },
  "variables": {
    "sentinelConnectionName": "azuresentinel",
    "logAnalyticsConnectionName": "loganalytics-query",
    "workspaceResourceId": "[concat('/subscriptions/', parameters('mainSubscriptionId'), '/resourceGroups/', parameters('mainResourceGroup'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('mainWorkspaceName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "displayName": "Azure Sentinel Connection",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('logAnalyticsConnectionName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "displayName": "Log Analytics Query Connection",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]"
      ],
      "identity": {
        "type": "[if(parameters('enableManagedIdentity'), 'SystemAssigned', 'None')]"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "mainWorkspaceId": {
              "defaultValue": "[variables('workspaceResourceId')]",
              "type": "String"
            },
            "lookbackMinutes": {
              "defaultValue": 10,
              "type": "Int"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "[parameters('recurrenceFrequency')]",
                "interval": "[parameters('recurrenceInterval')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_Lookback_Time": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "lookbackTime",
                    "type": "String",
                    "value": "@{addMinutes(utcNow(), mul(parameters('lookbackMinutes'), -1))}"
                  }
                ]
              }
            },
            "Initialize_ProcessedCount": {
              "runAfter": {
                "Initialize_Lookback_Time": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ProcessedCount",
                    "type": "Integer",
                    "value": 0
                  }
                ]
              }
            },
            "Initialize_ErrorCount": {
              "runAfter": {
                "Initialize_ProcessedCount": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ErrorCount",
                    "type": "Integer",
                    "value": 0
                  }
                ]
              }
            },
            "Initialize_Synced_Count": {
              "runAfter": {
                "Initialize_ErrorCount": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "syncedCount",
                    "type": "Integer",
                    "value": 0
                  }
                ]
              }
            },
            "Get_Delegated_Tenants_Config": {
              "runAfter": {
                "Initialize_Synced_Count": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": {
                "delegatedTenants": [
                  {
                    "tenantId": "tenant1-id",
                    "tenantName": "Tenant 1",
                    "subscriptionId": "subscription1-id",
                    "resourceGroup": "rg-tenant1-sentinel",
                    "workspaceName": "logs-tenant1-sentinel",
                    "enabled": true
                  }
                ],
                "mainTenant": {
                  "subscriptionId": "[variables('mainSubscriptionId')]",
                  "resourceGroup": "[variables('mainResourceGroup')]",
                  "workspaceName": "[variables('mainWorkspaceName')]"
                }
              },
              "description": "Load from Azure Key Vault or configuration file in production"
            },
            "For_Each_Delegated_Tenant": {
              "foreach": "@outputs('Get_Delegated_Tenants_Config')['delegatedTenants']",
              "actions": {
                "Check_If_Tenant_Enabled": {
                  "actions": {
                    "Query_Incidents_from_Delegated_Workspace": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                          }
                        },
                        "method": "POST",
                        "body": {
                          "query": "SecurityIncident | where TimeGenerated >= datetime(@{variables('lookbackTime')}) | where Status in ('New', 'Active') | project IncidentNumber, Title, Description, Severity, Status, TimeGenerated",
                          "timespan": "PT24H"
                        },
                        "path": "/queryData",
                        "queries": {
                          "resourcegroups": "@{items('For_Each_Delegated_Tenant')['resourceGroup']}",
                          "resourcename": "@{items('For_Each_Delegated_Tenant')['workspaceName']}",
                          "resourcetype": "Log Analytics Workspace",
                          "subscriptions": "@{items('For_Each_Delegated_Tenant')['subscriptionId']}"
                        }
                      }
                    },
                    "For_Each_Incident": {
                      "foreach": "@body('Query_Delegated_Sentinel_Incidents')?['value']",
                      "actions": {
                        "Try_Create_Or_Update_Incident": {
                          "actions": {
                            "Check_If_Incident_Exists": {
                              "runAfter": {},
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                  }
                                },
                                "method": "get",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(parameters('mainWorkspaceId'))}"
                              }
                            },
                            "Filter_Existing_Incident": {
                              "runAfter": {
                                "Check_If_Incident_Exists": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@body('Check_If_Incident_Exists')?['value']",
                                "where": "@contains(item()?['properties']?['additionalData']?['sourceIncidentId'], concat(items('For_Each_Delegated_Tenant')?['tenantId'], '-', items('For_Each_Incident')?['IncidentNumber']))"
                              }
                            },
                            "Condition_Incident_Exists": {
                              "actions": {
                                "Update_Existing_Incident": {
                                  "runAfter": {},
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                      }
                                    },
                                    "method": "put",
                                    "body": {
                                      "title": "@{items('For_Each_Delegated_Tenant')?['tenantId']}: @{items('For_Each_Incident')?['Title']}",
                                      "description": "Source Tenant: @{items('For_Each_Delegated_Tenant')?['tenantId']}\nOriginal Incident Number: @{items('For_Each_Incident')?['IncidentNumber']}\n\n@{items('For_Each_Incident')?['Description']}",
                                      "severity": "@items('For_Each_Incident')?['Severity']",
                                      "status": "@items('For_Each_Incident')?['Status']"
                                    },
                                    "path": "/Incidents/subscriptions/@{encodeURIComponent(parameters('mainWorkspaceId'))}/incidents/@{encodeURIComponent(first(body('Filter_Existing_Incident'))?['name'])}"
                                  }
                                }
                              },
                              "runAfter": {
                                "Filter_Existing_Incident": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {
                                  "Create_New_Incident": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                        }
                                      },
                                      "method": "put",
                                      "body": {
                                        "title": "@{items('For_Each_Delegated_Tenant')?['tenantId']}: @{items('For_Each_Incident')?['Title']}",
                                        "description": "Source Tenant: @{items('For_Each_Delegated_Tenant')?['tenantId']}\nOriginal Incident Number: @{items('For_Each_Incident')?['IncidentNumber']}\n\n@{items('For_Each_Incident')?['Description']}",
                                        "severity": "@items('For_Each_Incident')?['Severity']",
                                        "status": "@items('For_Each_Incident')?['Status']"
                                      },
                                      "path": "/Incidents/subscriptions/@{encodeURIComponent(parameters('mainWorkspaceId'))}"
                                    }
                                  }
                                }
                              },
                              "expression": {
                                "and": [
                                  {
                                    "greater": [
                                      "@length(body('Filter_Existing_Incident'))",
                                      0
                                    ]
                                  }
                                ]
                              },
                              "type": "If"
                            },
                            "Increment_ProcessedCount": {
                              "runAfter": {
                                "Condition_Incident_Exists": [
                                  "Succeeded"
                                ]
                              },
                              "type": "IncrementVariable",
                              "inputs": {
                                "name": "ProcessedCount",
                                "value": 1
                              }
                            }
                          },
                          "runAfter": {},
                          "type": "Scope"
                        },
                        "Catch_Incident_Error": {
                          "actions": {
                            "Increment_ErrorCount": {
                              "runAfter": {},
                              "type": "IncrementVariable",
                              "inputs": {
                                "name": "ErrorCount",
                                "value": 1
                              }
                            }
                          },
                          "runAfter": {
                            "Try_Create_Or_Update_Incident": [
                              "Failed",
                              "Skipped",
                              "TimedOut"
                            ]
                          },
                          "type": "Scope"
                        }
                      },
                      "runAfter": {
                        "Query_Delegated_Sentinel_Incidents": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 1
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@items('For_Each_Delegated_Tenant')?['enabled']",
                          true
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Delegated_Tenants_Config": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Compose_Summary": {
              "runAfter": {
                "For_Each_Delegated_Tenant": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "type": "Compose",
              "inputs": {
                "runId": "@{workflow()['run']['name']}",
                "startTime": "@{utcnow()}",
                "status": "Completed",
                "incidentsSynced": "@{variables('syncedCount')}",
                "incidentsProcessed": "@{variables('ProcessedCount')}",
                "errors": "@{variables('ErrorCount')}",
                "tenantsProcessed": "@{length(outputs('Get_Delegated_Tenants_Config')['delegatedTenants'])}",
                "lookbackTime": "@{variables('lookbackTime')}"
              },
              "description": "Create comprehensive summary of sync operation for logging/monitoring"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              },
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]",
                "connectionName": "[variables('logAnalyticsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "managedIdentityPrincipalId": {
      "type": "string",
      "value": "[if(parameters('enableManagedIdentity'), reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId, '')]"
    }
  }
}
