deployment/arm-templates/portal-deployment.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Sentinel Multi-Tenant Incident Sync",
    "description": "Deploy Logic App for syncing Sentinel incidents across multiple tenants via Azure Lighthouse",
    "author": "Sentinel Multi-Tenant Team",
    "dateUpdated": "2025-11-04"
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "sentinel-incident-sync",
      "metadata": {
        "description": "Name of the Logic App resource"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources. Defaults to resource group location."
      }
    },
    "mainTenantId": {
      "type": "string",
      "defaultValue": "[subscription().tenantId]",
      "metadata": {
        "description": "Main tenant ID where incidents will be synced TO. Defaults to current tenant."
      }
    },
    "mainSubscriptionId": {
      "type": "string",
      "defaultValue": "[subscription().subscriptionId]",
      "metadata": {
        "description": "Subscription ID containing the main Sentinel workspace. Defaults to current subscription."
      }
    },
    "mainResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "Resource group containing the main Sentinel workspace"
      }
    },
    "mainWorkspaceName": {
      "type": "string",
      "metadata": {
        "description": "Name of the main Sentinel Log Analytics workspace"
      }
    },
    "recurrenceFrequency": {
      "type": "string",
      "defaultValue": "Minute",
      "allowedValues": [
        "Minute",
        "Hour",
        "Day",
        "Week",
        "Month"
      ],
      "metadata": {
        "description": "Frequency unit for Logic App recurrence trigger"
      }
    },
    "recurrenceInterval": {
      "type": "int",
      "defaultValue": 5,
      "minValue": 1,
      "maxValue": 1000,
      "metadata": {
        "description": "Interval for recurrence (e.g., 5 minutes, 1 hour)"
      }
    },
    "lookbackMinutes": {
      "type": "int",
      "defaultValue": 10,
      "minValue": 5,
      "maxValue": 1440,
      "metadata": {
        "description": "How many minutes back to look for incidents (default: 10 minutes)"
      }
    },
    "enableManagedIdentity": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Enable system-assigned managed identity for the Logic App"
      }
    },
    "environment": {
      "type": "string",
      "defaultValue": "Production",
      "allowedValues": [
        "Development",
        "Test",
        "Staging",
        "Production"
      ],
      "metadata": {
        "description": "Environment tag for the deployment"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "azuresentinel",
    "logAnalyticsConnectionName": "loganalytics-query",
    "workflowSchema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "mainWorkspaceId": "[resourceId(parameters('mainSubscriptionId'), parameters('mainResourceGroup'), 'Microsoft.OperationalInsights/workspaces', parameters('mainWorkspaceName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Sentinel Connection for Multi-Tenant Sync",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('logAnalyticsConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Log Analytics Query Connection",
        "customParameterValues": {},
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]"
      ],
      "identity": {
        "type": "[if(parameters('enableManagedIdentity'), 'SystemAssigned', 'None')]"
      },
      "tags": {
        "Environment": "[parameters('environment')]",
        "Solution": "Sentinel-Multi-Tenant-Sync",
        "ManagedBy": "ARM Template",
        "DeploymentMethod": "Azure Portal"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "[variables('workflowSchema')]",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "mainWorkspaceId": {
              "defaultValue": "[variables('mainWorkspaceId')]",
              "type": "String"
            },
            "lookbackMinutes": {
              "defaultValue": "[parameters('lookbackMinutes')]",
              "type": "Int"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "[parameters('recurrenceFrequency')]",
                "interval": "[parameters('recurrenceInterval')]"
              },
              "evaluatedRecurrence": {
                "frequency": "[parameters('recurrenceFrequency')]",
                "interval": "[parameters('recurrenceInterval')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_Lookback_Time": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "lookbackTime",
                    "type": "string",
                    "value": "@{addMinutes(utcNow(), mul(parameters('lookbackMinutes'), -1))}"
                  }
                ]
              }
            },
            "Initialize_Synced_Count": {
              "runAfter": {
                "Initialize_Lookback_Time": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "syncedCount",
                    "type": "integer",
                    "value": 0
                  }
                ]
              }
            },
            "Get_Delegated_Tenants_Config": {
              "runAfter": {
                "Initialize_Synced_Count": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": {
                "delegatedTenants": [
                  {
                    "tenantId": "REPLACE-WITH-CUSTOMER-TENANT-ID",
                    "tenantName": "Customer Tenant 1",
                    "subscriptionId": "REPLACE-WITH-CUSTOMER-SUBSCRIPTION-ID",
                    "resourceGroup": "REPLACE-WITH-CUSTOMER-RG",
                    "workspaceName": "REPLACE-WITH-CUSTOMER-WORKSPACE",
                    "enabled": true,
                    "description": "First delegated customer tenant"
                  }
                ],
                "mainTenant": {
                  "tenantId": "[parameters('mainTenantId')]",
                  "subscriptionId": "[parameters('mainSubscriptionId')]",
                  "resourceGroup": "[parameters('mainResourceGroup')]",
                  "workspaceName": "[parameters('mainWorkspaceName')]"
                }
              },
              "description": "IMPORTANT: After deployment, update this action with your actual delegated tenant configuration from config/tenants.json"
            },
            "For_Each_Delegated_Tenant": {
              "foreach": "@outputs('Get_Delegated_Tenants_Config')['delegatedTenants']",
              "actions": {
                "Condition_-_Check_Tenant_Enabled": {
                  "actions": {
                    "Query_Incidents_from_Delegated_Workspace": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": "SecurityIncident\n| where TimeGenerated >= datetime(@{variables('lookbackTime')})\n| where Status in ('New', 'Active')\n| project IncidentNumber, Title, Description, Severity, Status, TimeGenerated, CreatedTime, LastModifiedTime",
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/queryData",
                        "queries": {
                          "resourcegroups": "@{items('For_Each_Delegated_Tenant')['resourceGroup']}",
                          "resourcename": "@{items('For_Each_Delegated_Tenant')['workspaceName']}",
                          "resourcetype": "Log Analytics Workspace",
                          "subscriptions": "@{items('For_Each_Delegated_Tenant')['subscriptionId']}",
                          "timerange": "Set in query"
                        }
                      },
                      "description": "Query SecurityIncident table from delegated Sentinel workspace"
                    },
                    "For_Each_Incident": {
                      "foreach": "@body('Query_Incidents_from_Delegated_Workspace')?['value']",
                      "actions": {
                        "Compose_Unique_Incident_ID": {
                          "runAfter": {},
                          "type": "Compose",
                          "inputs": "@{items('For_Each_Delegated_Tenant')['tenantId']}_@{items('For_Each_Incident')['IncidentNumber']}",
                          "description": "Create unique incident ID combining tenant ID and incident number"
                        },
                        "Check_if_Incident_Already_Exists": {
                          "runAfter": {
                            "Compose_Unique_Incident_ID": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": "SecurityIncident\n| where Title contains '@{outputs('Compose_Unique_Incident_ID')}'\n| take 1",
                            "path": "/queryData",
                            "queries": {
                              "resourcegroups": "@{outputs('Get_Delegated_Tenants_Config')['mainTenant']['resourceGroup']}",
                              "resourcename": "@{outputs('Get_Delegated_Tenants_Config')['mainTenant']['workspaceName']}",
                              "resourcetype": "Log Analytics Workspace",
                              "subscriptions": "@{outputs('Get_Delegated_Tenants_Config')['mainTenant']['subscriptionId']}",
                              "timerange": "Last 30 days"
                            }
                          }
                        },
                        "Condition_-_Create_or_Update": {
                          "actions": {
                            "Create_Incident_in_Main_Workspace": {
                              "runAfter": {},
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "title": "[@{outputs('Compose_Unique_Incident_ID')}] @{items('For_Each_Incident')['Title']}",
                                  "description": "**Source Tenant:** @{items('For_Each_Delegated_Tenant')['tenantName']} (@{items('For_Each_Delegated_Tenant')['tenantId']})\n**Original Incident #:** @{items('For_Each_Incident')['IncidentNumber']}\n**Source Workspace:** @{items('For_Each_Delegated_Tenant')['workspaceName']}\n\n---\n\n@{items('For_Each_Incident')['Description']}",
                                  "severity": "@{items('For_Each_Incident')['Severity']}",
                                  "status": "@{items('For_Each_Incident')['Status']}"
                                },
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                  }
                                },
                                "method": "put",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(outputs('Get_Delegated_Tenants_Config')['mainTenant']['subscriptionId'])}/resourceGroups/@{encodeURIComponent(outputs('Get_Delegated_Tenants_Config')['mainTenant']['resourceGroup'])}/workspaces/@{encodeURIComponent(outputs('Get_Delegated_Tenants_Config')['mainTenant']['workspaceName'])}"
                              }
                            },
                            "Increment_Synced_Counter": {
                              "runAfter": {
                                "Create_Incident_in_Main_Workspace": [
                                  "Succeeded"
                                ]
                              },
                              "type": "IncrementVariable",
                              "inputs": {
                                "name": "syncedCount",
                                "value": 1
                              }
                            }
                          },
                          "runAfter": {
                            "Check_if_Incident_Already_Exists": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Update_Existing_Incident": {
                                "runAfter": {},
                                "type": "ApiConnection",
                                "inputs": {
                                  "body": {
                                    "title": "[@{outputs('Compose_Unique_Incident_ID')}] @{items('For_Each_Incident')['Title']}",
                                    "severity": "@{items('For_Each_Incident')['Severity']}",
                                    "status": "@{items('For_Each_Incident')['Status']}"
                                  },
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                  },
                                  "method": "put",
                                  "path": "/Incidents/subscriptions/@{encodeURIComponent(outputs('Get_Delegated_Tenants_Config')['mainTenant']['subscriptionId'])}/resourceGroups/@{encodeURIComponent(outputs('Get_Delegated_Tenants_Config')['mainTenant']['resourceGroup'])}/workspaces/@{encodeURIComponent(outputs('Get_Delegated_Tenants_Config')['mainTenant']['workspaceName'])}"
                                },
                                "description": "Update existing incident with latest status and classification"
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@length(body('Check_if_Incident_Already_Exists')?['value'])",
                                  0
                                ]
                              }
                            ]
                          },
                          "type": "If",
                          "description": "Check if incident count is 0 (doesn't exist) to create new, otherwise update"
                        }
                      },
                      "runAfter": {
                        "Query_Incidents_from_Delegated_Workspace": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 1
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@items('For_Each_Delegated_Tenant')['enabled']",
                          true
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Delegated_Tenants_Config": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Compose_Summary": {
              "runAfter": {
                "For_Each_Delegated_Tenant": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "type": "Compose",
              "inputs": {
                "runId": "@{workflow()['run']['name']}",
                "startTime": "@{workflow()['run']['startTime']}",
                "status": "@{workflow()['run']['status']}",
                "incidentsSynced": "@{variables('syncedCount')}",
                "tenantsProcessed": "@{length(outputs('Get_Delegated_Tenants_Config')['delegatedTenants'])}",
                "lookbackTime": "@{variables('lookbackTime')}"
              },
              "description": "Create summary of sync operation for logging/monitoring"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]"
              },
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]",
                "connectionName": "[variables('logAnalyticsConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "managedIdentityPrincipalId": {
      "type": "string",
      "value": "[if(parameters('enableManagedIdentity'), reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId, 'Not Enabled')]",
      "metadata": {
        "description": "Principal ID of the Logic App's managed identity. Use this for Lighthouse delegation and RBAC assignments."
      }
    },
    "nextSteps": {
      "type": "object",
      "value": {
        "step1": "Copy the Managed Identity Principal ID from outputs",
        "step2": "Grant the managed identity 'Microsoft Sentinel Contributor' role on main Sentinel workspace",
        "step3": "Deploy Lighthouse delegation in customer tenants using deployment/arm-templates/lighthouse-delegation.json",
        "step4": "Update the 'Get_Delegated_Tenants_Config' action in Logic App Designer with your tenant configuration",
        "step5": "Test the Logic App manually from Azure Portal"
      }
    }
  }
}
