Logic App workflow/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "remoteWorkspaces": {
        "type": "Array",
        "metadata": {
          "description": "Array of remote Sentinel workspaces to sync incidents FROM"
        },
        "defaultValue": [
          {
            "name": "Remote Workspace 1",
            "subscriptionId": "enter-subscription-id-here",
            "resourceGroup": "enter-resource-group-here",
            "workspace": "enter-workspace-name-here"
          }
        ]
      },
      "centralSubscriptionId": {
        "type": "String",
        "metadata": {
          "description": "Subscription ID of the central Sentinel workspace (where incidents are synced TO)"
        },
        "defaultValue": "enter-central-subscription-id-here"
      },
      "centralResourceGroup": {
        "type": "String", 
        "metadata": {
          "description": "Resource group name of the central Sentinel workspace"
        },
        "defaultValue": "enter-central-resource-group-here"
      },
      "centralWorkspace": {
        "type": "String",
        "metadata": {
          "description": "Name of the central Sentinel workspace"
        },
        "defaultValue": "enter-central-workspace-name-here"
      },
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      }
    },
    "triggers": {
      "Recurrence": {
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        },
        "type": "Recurrence"
      }
    },
    "actions": {
      "For_each_remote_workspace": {
        "foreach": "@parameters('remoteWorkspaces')",
        "actions": {
          "Get_incidents_from_remote": {
            "runAfter": {},
            "type": "Http",
            "inputs": {
              "method": "GET",
              "uri": "https://management.azure.com/subscriptions/@{items('For_each_remote_workspace')['subscriptionId']}/resourceGroups/@{items('For_each_remote_workspace')['resourceGroup']}/providers/Microsoft.OperationalInsights/workspaces/@{items('For_each_remote_workspace')['workspace']}/providers/Microsoft.SecurityInsights/incidents?api-version=2023-02-01&$top=10&$orderby=properties/createdTimeUtc desc",
              "authentication": {
                "type": "ManagedServiceIdentity",
                "audience": "https://management.azure.com"
              }
            }
          },
          "Parse_incidents_response": {
            "runAfter": {
              "Get_incidents_from_remote": [
                "Succeeded"
              ]
            },
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Get_incidents_from_remote')",
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "properties": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "incidentNumber": {
                              "type": "integer"
                            },
                            "incidentUrl": {
                              "type": "string"
                            },
                            "createdTimeUtc": {
                              "type": "string"
                            },
                            "lastActivityTimeUtc": {
                              "type": "string"
                            },
                            "firstActivityTimeUtc": {
                              "type": "string"
                            },
                            "additionalData": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "For_each_incident": {
            "foreach": "@body('Parse_incidents_response')?['value']",
            "runtimeConfiguration": {
              "concurrency": {
                "repetitions": 20
              }
            },
            "actions": {
              "Check_if_already_synced": {
                "runAfter": {},
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "not": {
                        "startsWith": [
                          "@items('For_each_incident')?['properties']?['title']",
                          "[SYNCED]"
                        ]
                      }
                    }
                  ]
                },
                "actions": {
                  "Create_incident_in_central": {
                    "runAfter": {},
                    "type": "Http",
                    "inputs": {
                      "method": "PUT",
                      "uri": "https://management.azure.com/subscriptions/@{parameters('centralSubscriptionId')}/resourceGroups/@{parameters('centralResourceGroup')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('centralWorkspace')}/providers/Microsoft.SecurityInsights/incidents/@{guid()}?api-version=2023-02-01",
                      "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://management.azure.com"
                      },
                      "body": {
                        "properties": {
                          "title": "[SYNCED] @{items('For_each_incident')?['properties']?['title']} - @{items('For_each_remote_workspace')['name']}",
                          "description": "# 🔗 Source Information\n**Source Workspace:** @{items('For_each_remote_workspace')['name']}\n**Original Incident #:** @{items('For_each_incident')?['properties']?['incidentNumber']}\n**Original Incident ID:** @{items('For_each_incident')?['name']}\n**Source Portal Link:** @{items('For_each_incident')?['properties']?['incidentUrl']}\n**Provider:** @{coalesce(items('For_each_incident')?['properties']?['providerName'], 'Azure Sentinel')}\n\n# 📊 Incident Timeline\n**Created:** @{items('For_each_incident')?['properties']?['createdTimeUtc']}\n**First Activity:** @{coalesce(items('For_each_incident')?['properties']?['firstActivityTimeUtc'], 'N/A')}\n**Last Activity:** @{coalesce(items('For_each_incident')?['properties']?['lastActivityTimeUtc'], 'N/A')}\n\n# 🎯 MITRE ATT&CK Tactics\n@{if(empty(items('For_each_incident')?['properties']?['additionalData']?['tactics']), 'No tactics identified', join(items('For_each_incident')?['properties']?['additionalData']?['tactics'], ', '))}\n\n# 🚨 Alert Details\n**Alert Count:** @{coalesce(string(items('For_each_incident')?['properties']?['additionalData']?['alertsCount']), '0')}\n**Alert Products:** @{if(empty(items('For_each_incident')?['properties']?['additionalData']?['alertProductNames']), 'N/A', join(items('For_each_incident')?['properties']?['additionalData']?['alertProductNames'], ', '))}\n\n---\n\n# 📝 Original Description\n@{coalesce(items('For_each_incident')?['properties']?['description'], 'No description available')}\n\n---\n\n💡 **View full details including entities in the source incident using the portal link above.**",
                          "severity": "@{items('For_each_incident')?['properties']?['severity']}",
                          "status": "New",
                          "firstActivityTimeUtc": "@{items('For_each_incident')?['properties']?['firstActivityTimeUtc']}",
                          "lastActivityTimeUtc": "@{items('For_each_incident')?['properties']?['lastActivityTimeUtc']}"
                        }
                      }
                    }
                  }
                }
              }
            },
            "runAfter": {
              "Parse_incidents_response": [
                "Succeeded"
              ]
            },
            "type": "Foreach"
          }
        },
        "runAfter": {},
        "type": "Foreach"
      }
    },
    "outputs": {}
  },
  "parameters": {
    "remoteWorkspaces": {
      "value": [
        {
          "name": "REMOTE_WORKSPACE_1_NAME",
          "subscriptionId": "YOUR_REMOTE_WORKSPACE_1_SUBSCRIPTION_ID",
          "resourceGroup": "YOUR_REMOTE_WORKSPACE_1_RESOURCE_GROUP",
          "workspace": "YOUR_REMOTE_WORKSPACE_1_NAME"
        },
        {
          "name": "REMOTE_WORKSPACE_2_NAME", 
          "subscriptionId": "YOUR_REMOTE_WORKSPACE_2_SUBSCRIPTION_ID",
          "resourceGroup": "YOUR_REMOTE_WORKSPACE_2_RESOURCE_GROUP",
          "workspace": "YOUR_REMOTE_WORKSPACE_2_NAME"
        }
      ]
    },
    "centralSubscriptionId": {
      "value": "YOUR_CENTRAL_SUBSCRIPTION_ID"
    },
    "centralResourceGroup": {
      "value": "YOUR_CENTRAL_RESOURCE_GROUP"
    },
    "centralWorkspace": {
      "value": "YOUR_CENTRAL_WORKSPACE_NAME"
    },
    "$connections": {
      "value": {}
    }
  }
}