Logic App workflow/workflow-CODE-VIEW.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "remoteWorkspaces": {
        "type": "Array"
      },
      "centralSubscriptionId": {
        "type": "String"
      },
      "centralResourceGroup": {
        "type": "String"
      },
      "centralWorkspace": {
        "type": "String"
      }
    },
    "triggers": {
      "Recurrence": {
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        },
        "type": "Recurrence"
      }
    },
    "actions": {
      "For_each_remote_workspace": {
        "foreach": "@parameters('remoteWorkspaces')",
        "actions": {
          "Get_incidents_from_remote": {
            "runAfter": {},
            "type": "Http",
            "inputs": {
              "method": "GET",
              "uri": "https://management.azure.com/subscriptions/@{items('For_each_remote_workspace')['subscriptionId']}/resourceGroups/@{items('For_each_remote_workspace')['resourceGroup']}/providers/Microsoft.OperationalInsights/workspaces/@{items('For_each_remote_workspace')['workspace']}/providers/Microsoft.SecurityInsights/incidents?api-version=2023-02-01&$top=10&$orderby=properties/createdTimeUtc desc",
              "authentication": {
                "type": "ManagedServiceIdentity",
                "audience": "https://management.azure.com"
              }
            }
          },
          "Parse_incidents_response": {
            "runAfter": {
              "Get_incidents_from_remote": [
                "Succeeded"
              ]
            },
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Get_incidents_from_remote')",
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "properties": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "incidentNumber": {
                              "type": "integer"
                            },
                            "createdTimeUtc": {
                              "type": "string"
                            },
                            "lastActivityTimeUtc": {
                              "type": "string"
                            },
                            "firstActivityTimeUtc": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "For_each_incident": {
            "foreach": "@body('Parse_incidents_response')?['value']",
            "actions": {
              "Create_incident_in_central": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                  "method": "PUT",
                  "uri": "https://management.azure.com/subscriptions/@{parameters('centralSubscriptionId')}/resourceGroups/@{parameters('centralResourceGroup')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('centralWorkspace')}/providers/Microsoft.SecurityInsights/incidents/@{guid()}?api-version=2023-02-01",
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "audience": "https://management.azure.com"
                  },
                  "body": {
                    "properties": {
                      "title": "[SYNCED] @{items('For_each_incident')?['properties']?['title']} - @{items('For_each_remote_workspace')['name']}",
                      "description": "**Source Workspace:** @{items('For_each_remote_workspace')['name']}\n**Original Incident Number:** @{items('For_each_incident')?['properties']?['incidentNumber']}\n**Original Incident ID:** @{items('For_each_incident')?['name']}\n**Created:** @{items('For_each_incident')?['properties']?['createdTimeUtc']}\n\n---\n\n@{items('For_each_incident')?['properties']?['description']}",
                      "severity": "@{items('For_each_incident')?['properties']?['severity']}",
                      "status": "New"
                    }
                  }
                }
              }
            },
            "runAfter": {
              "Parse_incidents_response": [
                "Succeeded"
              ]
            },
            "type": "Foreach"
          }
        },
        "runAfter": {},
        "type": "Foreach"
      }
    },
    "outputs": {}
  },
  "parameters": {
    "remoteWorkspaces": {
      "value": [
        {
          "name": "AutoLAW",
          "subscriptionId": "7d727b43-c480-4637-9b2d-f53db5982220",
          "resourceGroup": "autorg1",
          "workspace": "AutoLAW"
        },
        {
          "name": "CustomerA",
          "subscriptionId": "7d727b43-c480-4637-9b2d-f53db5982220",
          "resourceGroup": "rg-uks-sentinel",
          "workspace": "CustomerA"
        }
      ]
    },
    "centralSubscriptionId": {
      "value": "7d727b43-c480-4637-9b2d-f53db5982220"
    },
    "centralResourceGroup": {
      "value": "rg-uks-sentinel"
    },
    "centralWorkspace": {
      "value": "logs-uks-sentinel"
    }
  }
}
